.audio_control {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.audio_control .hiden {
  display: none;
}

.audio_control .loadAudio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 3;
}

.audio_control .loadAudio .loadImg {
  width: .853333rem;
  height: .853333rem;
  margin: 0 auto;
}

.audio_control .loadAudio .loadImg img {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.audio_control .loadAudio .loadText {
  font-size: 14px;
  color: #fff;
}

.audio_control .play {
  z-index: 2;
}

.audio_control .play .play-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: .88rem;
}

.audio_control .play .play-text h3 {
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  text-align: center;
  width: 6.186667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.audio_control .play .play-text .isPlay {
  margin-top: .053333rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio_control .play .play-text .isPlay em.playText {
  margin-right: .16rem;
  display: block;
  height: 12px;
  font-size: 14px;
  color: #fff;
}

.audio_control .play .play-text .isPlay em.playImg {
  display: block;
  width: 12px;
  height: 13px;
}

.audio_control .play .play-text .isPlay em.playImg img {
  width: 100%;
  height: 100%;
  display: block;
}

.audio_control .play .play-pause {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -0.3rem);
}

.audio_control .play .play-pause i {
  font-size: 36px;
  color: #fff;
}

.audio_control .play .audio_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 .533333rem .24rem;
}

.audio_control .play .audio_btn .audios {
  width: 100%;
}

.audio_control .play .audio_btn .audios .audio-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.audio_control .play .audio_btn .audios .audio-btn .left-btn i {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  width: .48rem;
  height: .533333rem;
  margin-right: .666667rem;
  cursor: pointer;
}

.audio_control .play .audio_btn .audios .audio-btn .bottom_sheet {
  font-size: 16px;
  color: #fff;
}

.audio_control .play .audio_btn .single-audio {
  display: flex;
  align-items: center;
}

.audio_control .play .audio_btn .single-audio i {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  width: .48rem;
  height: .533333rem;
  margin-right: .613333rem;
  cursor: pointer;
}

.audio_control .play .audio_btn .single-audio span {
  font-size: 16px;
  color: #fff;
}

.audio_control .play .audio_btn .single-audio .progress-bar-wrapper {
  flex: 1;
  margin: 0 .2rem;
}
